<style type="text/css">
  .form-row{
    padding-top: 10px;
  }
</style>


  <div class="container">
  <%= form_with(model: [@store,@customer,@order,trouser_style], local: true) do |form| %>
  <!-- <form> -->
  <div class="form-row">
    <div class="col">
      <label>Style For :</label> <%= form.text_field :style_for , class: "form-control" %>
      <!-- <input type="text" class="form-control" placeholder="First name"> -->
    </div>
   </div>
    
   <div class="form-row">
    <div class="col">
      <label>Belt :</label> <%= form.text_field :belt , class: "form-control" %>
      <!-- <input type="text" class="form-control" placeholder="First name"> -->
    </div>
    <div class="col">
      <label>Pleat :</label> <%= form.text_field :pleat , class: "form-control" %>
    </div>
   </div> 
    
   <div class="form-row">
    <div class="col">
      <label>Pocket :</label> <%= form.text_field :pocket , class: "form-control" %>
      <!-- <input type="text" class="form-control" placeholder="First name"> -->
    </div>
    <div class="col">
      <label>Back Pocket :</label> <%= form.text_field :back_pocket , class: "form-control" %>
    </div>
   </div>  

   <div class="form-row">
    <div class="col">
      <label>Bottom :</label> <%= form.text_field :bottom , class: "form-control" %>
      <!-- <input type="text" class="form-control" placeholder="First name"> -->
    </div>
    <div class="col">
      <label>Loops :</label> <%= form.text_field :loops , class: "form-control" %>
    </div>
   </div> 

   <div class="form-row">
    <div class="col">
      <label>Fit :</label> <%= form.text_field :fit , class: "form-control" %>
      <!-- <input type="text" class="form-control" placeholder="First name"> -->
    </div>
   </div> 

   <div class="form-row">
    <div class="col">
      <label>Master Comment :</label> <%= form.text_area :master_comment , class: "form-control" %>
      <!-- <input type="text" class="form-control" placeholder="First name"> -->
    </div>
   </div> 

   <div class="form-row"><%= form.submit class: "btn btn-primary" %></div>
   <!-- </form> -->
  <% end %>

</div>
<br>




<!--
<%= form_with(model: [@store,@customer,@order,trouser_style], local: true) do |form| %>

      <div class="container">
        
        <div class="row"><h5><strong>Style for : </strong><%= form.text_field :style_for %></h5></div>

        <div class="row">
          <div class="col-4">
            <strong>Belt : </strong><%= form.text_field :belt %><br>
            <strong>Pleat : </strong><%= form.text_field :pleat %><br>
            <strong>Pocket : </strong><%= form.text_field :pocket %><br>
            <strong>Back Pocket:</strong><%= form.text_field :back_pocket %>
          </div>
          <div class="col-4">
            <strong>Bottom : </strong><%= form.text_field :bottom %><br>
            <strong>Loops : </strong><%= form.text_field :loops %><br>
            <strong>Fit : </strong><%= form.text_field :fit %>
            
          </div>
        </div>

        <div class="row">
          <div class="col-10">
          <p>
            <strong>Master comment:</strong>
            <i><%= form.text_area :master_comment %></i>
          </p>
          </div>
        </div>  

        <div class="row"><%= form.submit %></div>

      </div>


<%end%>


<%= form_with(model: [@store,@customer,@order,trouser_style], local: true) do |form| %>
  <% if trouser_style.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trouser_style.errors.count, "error") %> prohibited this trouser_style from being saved:</h2>

      <ul>
        <% trouser_style.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :style_for %>
    <%= form.text_field :style_for %>
  </div>

  <div class="field">
    <%= form.label :style_for_fabric_picture %>
    <%= form.text_field :style_for_fabric_picture %>
  </div>

  <div class="field">
    <%= form.label :belt %>
    <%= form.text_field :belt %>
  </div>

  <div class="field">
    <%= form.label :pleat %>
    <%= form.text_field :pleat %>
  </div>

  <div class="field">
    <%= form.label :pocket %>
    <%= form.text_field :pocket %>
  </div>

  <div class="field">
    <%= form.label :back_pocket %>
    <%= form.text_field :back_pocket %>
  </div>

  <div class="field">
    <%= form.label :bottom %>
    <%= form.text_field :bottom %>
  </div>

  <div class="field">
    <%= form.label :loops %>
    <%= form.text_field :loops %>
  </div>

  <div class="field">
    <%= form.label :fit %>
    <%= form.text_field :fit %>
  </div>

  <div class="field">
    <%= form.label :related_pictures %>
    <%= form.text_field :related_pictures %>
  </div>

  <div class="field">
    <%= form.label :master_comment %>
    <%= form.text_field :master_comment %>
  </div>

  <div class="field">
    <%= form.label :order_id %>
    <%= form.text_field :order_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

-->
