
<p id="notice"><%= notice %></p>

<h2>Trouser style for :   <%= trouser_style.style_for %> <%= link_to 'Click to Edit', edit_store_customer_order_trouser_style_path(@store,@customer,@order,trouser_style) %></h2>


<p>
  <strong>Style for fabric picture:</strong>
  <%= trouser_style.style_for_fabric_picture %>


  <strong>Belt:</strong>
  <%= trouser_style.belt %>


  <strong>Pleat:</strong>
  <%= trouser_style.pleat %>


  <strong>Pocket:</strong>
  <%= trouser_style.pocket %>


  <strong>Back pocket:</strong>
  <%= trouser_style.back_pocket %>


  <strong>Bottom:</strong>
  <%= trouser_style.bottom %>


  <strong>Loops:</strong>
  <%= trouser_style.loops %>


  <strong>Fit:</strong>
  <%= trouser_style.fit %>


  <strong>Related pictures:</strong>
  <%= trouser_style.related_pictures %>


<p>
  <strong>Master comment:</strong>
  <%= trouser_style.master_comment %>
</p>

<p>
  <strong>Order:</strong>
  <%= trouser_style.order_id %>
</p>

