<p id="notice"><%= notice %></p>

<h1>Trouser Styles</h1>

<table>
  <thead>
    <tr>
      <th>Style for</th>
      <th>Style for fabric picture</th>
      <th>Belt</th>
      <th>Pleat</th>
      <th>Pocket</th>
      <th>Back pocket</th>
      <th>Bottom</th>
      <th>Loops</th>
      <th>Fit</th>
      <th>Related pictures</th>
      <th>Master comment</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trouser_styles.each do |trouser_style| %>
      <tr>
        <td><%= trouser_style.style_for %></td>
        <td><%= trouser_style.style_for_fabric_picture %></td>
        <td><%= trouser_style.belt %></td>
        <td><%= trouser_style.pleat %></td>
        <td><%= trouser_style.pocket %></td>
        <td><%= trouser_style.back_pocket %></td>
        <td><%= trouser_style.bottom %></td>
        <td><%= trouser_style.loops %></td>
        <td><%= trouser_style.fit %></td>
        <td><%= trouser_style.related_pictures %></td>
        <td><%= trouser_style.master_comment %></td>
        <td><%= trouser_style.order_id %></td>
        <td><%= link_to 'Show', trouser_style %></td>
        <td><%= link_to 'Edit', edit_trouser_style_path(trouser_style) %></td>
        <td><%= link_to 'Destroy', trouser_style, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trouser Style', new_trouser_style_path %>
