<style type="text/css">
  .row{
    padding-left: 5px;
  }
  form {
    padding-bottom: 10px;
  }
  .order-view{
    border: 2px solid Black;
    margin: 5px;
  }
</style>

  <div class="container">




    <div class="d-flex">
      <div class="p-2">
          <div class="form-row">
              <%= form_tag(dashboard_search_customer_path, :method => "get") do %>
                <div class="form-group col-md-6">
                  <label for="inputCity">Search for Customer (Mobile No.):</label>
                  <%= text_field_tag(:search_customer) , class: "sl-input" %>
                  <%= submit_tag("Search") %>
                </div>
              <% end %>
            </div>
      </div>
      <div class="ml-auto p-2">
          <div class="form-row">
            <%= form_tag(dashboard_search_order_path, :method => "get") do %>
              <div class="form-group col-md-6">
                <label for="inputState">Search for Order ( Order No. ):</label>
                <div class="d-flex">
                  <%= text_field_tag(:search_order) %>

                  <button type="submit" class="btn btn-primary">Search</button>
                </div>

              </div>
            <% end %>
          </div>
      </div>
    </div>

  </div>
	
	<div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <h4>All Orders</h4>
      </div>

      <div class="col-6 text-right">
          <button type="button" class="btn btn-dark btn-sm">
              Trail's Done Today : <span class="badge badge-light"><%=@trailed_today%></span>
          </button>
          <button type="button" class="btn btn-dark btn-sm">
              Deliveries Done Today : <span class="badge badge-light"><%=@delivered_today%></span>
          </button>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-5">
          <div class="row">
            <% @all.each do |order| %>
                <div class="col-sm-3 my-2">
                  <div class="card order-card">
                    <div class="card-header">
                      Order No : <%= order.id %>
                    </div>
                    <div class="card-body">
                      <p class="card-text"><b>Trails Date :</b> <%= order.trail_date %> </p>
                      <p class="card-text"><b>Status :</b> <%= order.trail_status %> </p>
                      <hr class="my-3">
                      <p class="card-text"><b>Delivery Date :</b> <%= order.delivery_date %></p>
                      <p class="card-text"><b>Status :</b> <%= order.delivery_status %> </p>
                      <a href="<%=store_customer_order_path(@store,Customer.find( order.customer_id),order)%>" class="btn btn-dark btn-sm">View Order</a>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        </div>