<style type="text/css">
	.row{
		padding-left: 5px;
	}
	form {
    padding-bottom: 10px;
  }
  .order-view{
    border: 2px solid Black;
    margin: 5px;
  }
</style>


<div class="container shadow">

  <div class="container">
    <br>
    <%= form_tag(dashboard_search_customer_path, :method => "get") do %>
        <%= label_tag(:search_customer, "Search for Customer (Mobile No.):") %>
        <%= text_field_tag(:search_customer) %>
        <%= submit_tag("Search") %>
    <% end %>
  </div>
  <div class="container">
    <%= form_tag(dashboard_search_order_path, :method => "get") do %>
        <%= label_tag(:search_order, "Search for Order ( Order No. ):") %>
        <%= text_field_tag(:search_order) %>
        <%= submit_tag("Search") %>
    <% end %>
  </div>
	
	<div class="container">
	<div class="row">
		<div class="col-8">
		  <h1>To-do's For <i><%=Time.now.to_date%></i></h1>
		</div>

    <div class="col-4">
      <div class="container">
        <div class="row"><h5><i>Trail's Done Today : </i><%=@trailed_today%></h5></div>
        <div class="row"><h5><i>Deliveries Done Today : </i> <%=@delivered_today%></h5></div>
      </div>
    </div>

		<!--<div class="col-4">
			<div class="container">
				<div class="row"><h3><a href="<%=store_customers_path(@store)%>"><button class="btn btn-xs btn-primary has-icon"><%=@store.store_name%>'s Customers</button></a></h3></div>
				<div class="row"><h3><a href="<%= dashboard_today_deliveries_path %>"><button class="btn btn-xs btn-primary has-icon">Deliveries</button></a></h3></div>
			</div>
		</div>-->
	</div>
	</div> <br>

	<div class="container">
		<div class="row"><h3>Today's Trails</h3></div>
     <div class="row">
    
    	<% @trails_for_today.each do |order| %>

      		<div class=" order-view card shadow col-12 col-sm-6 col-md-4 col-lg-3">
        
        		<a href="<%=store_customer_order_path(@store,Customer.find( order.customer_id),order)%>"><strong><i>Order No : <%= order.id %></i></strong></a><br>
        		<b>Trail Date :</b> <%= order.trail_date %> Status : <%= order.trail_status %> <br>
        		<b>Delivery Date :</b> <%= order.delivery_date %> Status: <%= order.delivery_status %>

      		</div>
      
    	<% end %>
	</div> <br>

	<div class="container">
		<div class="row"><h3>Delayed Trails</h3></div>
     <div class="row">
    
    	<% @trails_delayed.each do |order| %>

      		<div class=" order-view card shadow col-12 col-sm-6 col-md-4 col-lg-3">
        
        		<a href="<%=store_customer_order_path(@store,Customer.find( order.customer_id),order)%>"><strong><i>Order No : <%= order.id %></i></strong></a><br>
        		<b>Trail Date :</b> <%= order.trail_date %> Status : <%= order.trail_status %> <br>
        		<b>Delivery Date :</b> <%= order.delivery_date %> Status: <%= order.delivery_status %>

      		</div>
      
    	<% end %>
	</div> <br>

	<div class="container">
		<div class="row"><h3>UpComing Trails</h3></div>
     <div class="row">
    
    	<% @trails_upcoming.each do |order| %>

      		<div class=" order-view card shadow col-12 col-sm-6 col-md-4 col-lg-3">
        
        		<a href="<%=store_customer_order_path(@store,Customer.find( order.customer_id),order)%>"><strong><i>Order No : <%= order.id %></i></strong></a><br>
        		<b>Trail Date :</b> <%= order.trail_date %> Status : <%= order.trail_status %> <br>
        		<b>Delivery Date :</b> <%= order.delivery_date %> Status: <%= order.delivery_status %>

      		</div>
      
    	<% end %>
	</div> <br>

</div>



