<style type="text/css">
  .form-row{
    padding-top: 10px;
  }
</style>


  <div class="container">
  <%= form_with(model: [@store,@customer,@order,shirt_style], local: true) do |form| %>
  <!-- <form> -->
  <div class="form-row">
    <div class="col">
      <label>Style For :</label> <%= form.text_field :style_for , class: "form-control" %>
      <!-- <input type="text" class="form-control" placeholder="First name"> -->
    </div>
   </div>
    
   <div class="form-row">
    <div class="col">
      <label>Style :</label> <%= form.text_field :style , class: "form-control" %>
      <!-- <input type="text" class="form-control" placeholder="First name"> -->
    </div>
    <div class="col">
      <label>Lapel :</label> <%= form.text_field :lapel , class: "form-control" %>
    </div>
   </div> 
    
   <div class="form-row">
    <div class="col">
      <label>Vent :</label> <%= form.text_field :vent , class: "form-control" %>
      <!-- <input type="text" class="form-control" placeholder="First name"> -->
    </div>
    <div class="col">
      <label>Pocket :</label> <%= form.text_field :pocket , class: "form-control" %>
    </div>
   </div>  

   <div class="form-row">
    <div class="col">
      <label>fit :</label> <%= form.text_field :fit , class: "form-control" %>
      <!-- <input type="text" class="form-control" placeholder="First name"> -->
    </div>
    <div class="col">
      <label>Sleeve Placket :</label> <%= form.text_field :sleeve_placket , class: "form-control" %>
    </div>
   </div> 

   <div class="form-row">
    <div class="col">
      <label>Front Cut :</label> <%= form.text_field :front_cut , class: "form-control" %>
      <!-- <input type="text" class="form-control" placeholder="First name"> -->
    </div>
   </div> 

   <div class="form-row">
    <div class="col">
      <label>Master Comment :</label> <%= form.text_area :master_comment , class: "form-control" %>
      <!-- <input type="text" class="form-control" placeholder="First name"> -->
    </div>
   </div> 

   <div class="form-row"><%= form.submit class: "btn btn-primary" %></div>
   <!-- </form> -->
  <% end %>

</div>
<br>


<!--
<%= form_with(model: [@store,@customer,@order,shirt_style], local: true) do |form| %>

    <div class="container">
      
      <div class="row"><h5><strong>Style for : </strong><%= form.text_field :style_for %></h5></div>

      <div class="row">
        <div class="col-4">
          <strong>Style : </strong><%= form.text_field :style %><br>
          <strong>Lapel : </strong><%= form.text_field :lapel %><br>
          <strong>Vent : </strong><%= form.text_field :vent %><br>
          <strong>Pocket : </strong><%= form.text_field :pocket %>
        </div>
        <div class="col-4">
          <strong>Fit : </strong><%= form.text_field :fit %><br>
          <strong>Sleeve placket : </strong><%= form.text_field :sleeve_placket %><br>
          <strong>Front cut : </strong><%= form.text_field :front_cut %>
          
        </div>
      </div>

      <div class="row">
        <div class="col-10">
        <p>
          <strong>Master comment : </strong>
          <i><%= form.text_area :master_comment %></i>
        </p>
        </div>
      </div>  

      <div class="row"><%= form.submit %></div>

    </div>

<% end %>

<!--
<%= form_with(model: [@store,@customer,@order,shirt_style], local: true) do |form| %>
  <% if shirt_style.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shirt_style.errors.count, "error") %> prohibited this shirt_style from being saved:</h2>

      <ul>
        <% shirt_style.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :style_for %>
    <%= form.text_field :style_for %>
  </div>

  <div class="field">
    <%= form.label :style_for_fabric_picture %>
    <%= form.text_field :style_for_fabric_picture %>
  </div>

  <div class="field">
    <%= form.label :style %>
    <%= form.text_field :style %>
  </div>

  <div class="field">
    <%= form.label :lapel %>
    <%= form.text_field :lapel %>
  </div>

  <div class="field">
    <%= form.label :vent %>
    <%= form.text_field :vent %>
  </div>

  <div class="field">
    <%= form.label :pocket %>
    <%= form.text_field :pocket %>
  </div>

  <div class="field">
    <%= form.label :fit %>
    <%= form.text_field :fit %>
  </div>

  <div class="field">
    <%= form.label :sleeve_placket %>
    <%= form.text_field :sleeve_placket %>
  </div>

  <div class="field">
    <%= form.label :front_cut %>
    <%= form.text_field :front_cut %>
  </div>

  <div class="field">
    <%= form.label :related_pictures %>
    <%= form.text_field :related_pictures %>
  </div>

  <div class="field">
    <%= form.label :master_comment %>
    <%= form.text_field :master_comment %>
  </div>

  <div class="field">
    <%= form.label :order_id %>
    <%= form.text_field :order_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
-->
