
<!--<p id="notice"><%= notice %></p>

<h2>Shirt Style for : <%= shirt_style.style_for %> <%= link_to ' Click to Edit', edit_store_customer_order_shirt_style_path(@store,@customer,@order,shirt_style) %>  </h2>

<p>
  <strong>Style for:</strong>
  <%= shirt_style.style_for %>

  <strong>Style for fabric picture:</strong>
  <%= shirt_style.style_for_fabric_picture %>

  <strong>Style:</strong>
  <%= shirt_style.style %>

  <strong>Lapel:</strong>
  <%= shirt_style.lapel %>

  <strong>Vent:</strong>
  <%= shirt_style.vent %>


  <strong>Pocket:</strong>
  <%= shirt_style.pocket %>


  <strong>Fit:</strong>
  <%= shirt_style.fit %>


  <strong>Sleeve placket:</strong>
  <%= shirt_style.sleeve_placket %>


  <strong>Front cut:</strong>
  <%= shirt_style.front_cut %>


  <strong>Related pictures:</strong>
  <%= shirt_style.related_pictures %>

<p>
  <strong>Master comment:</strong>
  <%= shirt_style.master_comment %>
</p>

<p>
  <strong>Order:</strong>
  <%= shirt_style.order_id %>
</p>-->


