<p id="notice"><%= notice %></p>

<h1>Shirt Styles</h1>

<table>
  <thead>
    <tr>
      <th>Style for</th>
      <th>Style for fabric picture</th>
      <th>Style</th>
      <th>Lapel</th>
      <th>Vent</th>
      <th>Pocket</th>
      <th>Fit</th>
      <th>Sleeve placket</th>
      <th>Front cut</th>
      <th>Related pictures</th>
      <th>Master comment</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shirt_styles.each do |shirt_style| %>
      <tr>
        <td><%= shirt_style.style_for %></td>
        <td><%= shirt_style.style_for_fabric_picture %></td>
        <td><%= shirt_style.style %></td>
        <td><%= shirt_style.lapel %></td>
        <td><%= shirt_style.vent %></td>
        <td><%= shirt_style.pocket %></td>
        <td><%= shirt_style.fit %></td>
        <td><%= shirt_style.sleeve_placket %></td>
        <td><%= shirt_style.front_cut %></td>
        <td><%= shirt_style.related_pictures %></td>
        <td><%= shirt_style.master_comment %></td>
        <td><%= shirt_style.order_id %></td>
        <td><%= link_to 'Show', shirt_style %></td>
        <td><%= link_to 'Edit', edit_shirt_style_path(shirt_style) %></td>
        <td><%= link_to 'Destroy', shirt_style, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shirt Style', new_shirt_style_path %>
