<style type="text/css">
  .container{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .row{
    padding-top: 5px;
  }

  
</style>


<%= form_with(model: store, local: true) do |form| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
        <% store.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container shadow">

  <div class="row">  
  <div class="field col-4 col-sm-5 col-md-3">
    <%= form.label :store_name %>
  </div>
  <div class=" col-4 col-sm-5 col-md-3">
    <%= form.text_field :store_name %>
  </div>
  </div>

  <div class="row">  
  <div class="field col-4 col-sm-5 col-md-3">
    <%= form.label :contact_person_name %>
  </div>
  <div class=" col-4 col-sm-5 col-md-3">
    <%= form.text_field :contact_person_name %>
  </div>
  </div>

  <div class="row">  
  <div class="field col-4 col-sm-5 col-md-3">
    <%= form.label :address %>
  </div>
  <div class=" col-4 col-sm-5 col-md-3">
    <%= form.text_area :address %>
  </div>
  </div>

  
  <div class="row">  
  <div class="field col-4 col-sm-5 col-md-3">
    <%= form.label :contact_number %>
  </div>
  <div class=" col-4 col-sm-5 col-md-3">
    <%= form.text_field :contact_number %>
  </div>
  </div>

  <div class="row">  
  <div class="field col-4 col-sm-5 col-md-3">
    <%= form.label :email %>
  </div>
  <div class=" col-4 col-sm-5 col-md-3">
    <%= form.text_field :email %>
  </div>
  </div>

  <div class="row">  
  <div class="field col-4 col-sm-5 col-md-3">
    <%= form.label :facebook_link %>
  </div>
  <div class=" col-4 col-sm-5 col-md-3">
    <%= form.text_field :facebook_link %>
  </div>
  </div>

  <div class="row">  
  <div class="field col-4 col-sm-5 col-md-3">
    <%= form.label :whatsapp_number %>
  </div>
  <div class=" col-4 col-sm-5 col-md-3">
    <%= form.text_field :whatsapp_number %>
  </div>
  </div>

  <div class="row">  
  <div class="field col-4 col-sm-5 col-md-3">
    <%= form.label :youtube_link %>
  </div>
  <div class=" col-4 col-sm-5 col-md-3">
    <%= form.text_field :youtube_link %>
  </div>
  </div>

  <div class="row">  
  <div class="field col-4 col-sm-5 col-md-3">
    <%= form.label :instagram_link %>
  </div>
  <div class=" col-4 col-sm-5 col-md-3">
    <%= form.text_field :instagram_link %>
  </div>
  </div>

  <div class="row">  
  <div class="field col-4 col-sm-5 col-md-3">
    <%= form.label :website %>
  </div>
  <div class=" col-4 col-sm-5 col-md-3">
    <%= form.text_field :website %>
  </div>
  </div>

  <div class="row">  
  <div class="field col-4 col-sm-5 col-md-3">
    <%= form.label :logo %>
  </div>
  <div class=" col-4 col-sm-5 col-md-3">
    <%= form.text_field :logo %>
  </div>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
  </div>
<% end %>
