<p id="notice"><%= notice %></p>

<p>
  <strong>Store name:</strong>
  <%= @store.store_name %>
</p>

<p>
  <strong>Contact person name:</strong>
  <%= @store.contact_person_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @store.address %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @store.contact_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @store.email %>
</p>

<p>
  <strong>Facebook link:</strong>
  <%= @store.facebook_link %>
</p>

<p>
  <strong>Whatsapp number:</strong>
  <%= @store.whatsapp_number %>
</p>

<p>
  <strong>Youtube link:</strong>
  <%= @store.youtube_link %>
</p>

<p>
  <strong>Instagram link:</strong>
  <%= @store.instagram_link %>
</p>

<p>
  <strong>Website:</strong>
  <%= @store.website %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @store.logo %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
