<p id="notice"><%= notice %></p>


<style type="text/css">
td{
    border: 2px Black solid;
    width: 100px;
    padding-left: 20px;
  }

  
</style>



<!-- <div class="container"> -->
  
  <div class="row"><h1>Body Posture & Measurements <a href="<%= edit_store_customer_order_order_measurement_path(@store,@customer,@order,order_measurement) %>"><button class="btn btn-xs btn-primary has-icon">click to Edit.!</button></a> <!--<%= link_to 'Click to Edit', edit_store_customer_order_order_measurement_path(@store,@customer,@order,order_measurement) %>--></h1></div>
  <div class="row"><h6>For <%=@customer.customer_name%></h6></div>

  <div class="container">
  
  <div class="row"><h3>Upper Body Posture</h3></div>

  <div class="row">
    <div class="col-12 col-md-6 col-xl-4">
      <h6>Body Shape</h6> <br>
      <img height="200px" width="300" src="<%=asset_url("back-shape.jpg")%>"><br>
      <table width="300">
        <tr><% if order_measurement.upper_body_back_shape == "Normal" then %><td bgcolor="#00f"><%else%><td><%end%>Normal</td><% if order_measurement.upper_body_back_shape == "Stooped" then %><td bgcolor="#00f"><%else%><td><%end%>Stooped</td><% if order_measurement.upper_body_back_shape == "Erect" then %><td bgcolor="#00f"><%else%><td><%end%>Erect</td></tr>
      </table>
                                     
    </div>

    <div class="col-12 col-md-6 col-xl-4">
      <h6>Stomach</h6> <br>
      <img height="200px" width="300" src="<%=asset_url("stomach.jpg")%>"><br>
      <table width="300">
        <tr><% if order_measurement.upper_body_stomach == "Forward Stomach" then %><td bgcolor="#00f"><%else%><td><%end%>Forward Stomach</td><% if order_measurement.upper_body_stomach == "Stout" then %><td bgcolor="#00f"><%else%><td><%end%>Stout</td><% if order_measurement.upper_body_stomach == "Large" then %><td bgcolor="#00f"><%else%><td><%end%>Large</td></tr>
      </table>
    </div>

    <div class="col-12 col-md-6 col-xl-4">
      <h6>Shoulder Type</h6> <br>
      <img height="200px" width="300" src="<%=asset_url("shoulder.jpg")%>"><br>
      <table width="300">
        <tr><% if order_measurement.upper_body_shoulder == "Sloping" then %><td bgcolor="#00f"><%else%><td><%end%>Sloping</td><% if order_measurement.upper_body_shoulder == "Regular" then %><td bgcolor="#00f"><%else%><td><%end%>Regular</td><% if order_measurement.upper_body_shoulder == "Square" then %><td bgcolor="#00f"><%else%><td><%end%>Square</td></tr>
      </table>
    </div>
  </div>
  

  </div>

  <div class="container">
  
  <div class="row"><h3>Lower Body Posture</h3></div>

  <div class="row">
    <div class="col-12">
      
      <img height="200px" width="400" src="<%=asset_url("lower-body-posture.jpg")%>"><br>
      <table width="400">
        <tr><% if order_measurement.lower_body_posture == "Knock Knee" then %><td bgcolor="#00f"><%else%><td><%end%>Knock Knee</td><% if order_measurement.lower_body_posture == "Joint Thigh" then %><td bgcolor="#00f"><%else%><td><%end%>Joint Thigh</td><% if order_measurement.lower_body_posture == "Bow Leg" then %><td bgcolor="#00f"><%else%><td><%end%>Bow Leg</td><% if order_measurement.lower_body_posture == "Prominent Thigh" then %><td bgcolor="#00f"><%else%><td><%end%>Prominent Thigh</td></tr>
      </table>
      
    </div>

  </div>
  
  </div>


  <div class="container">
  
  <div class="row"><h3>JACKET / SHIRT MEASUREMENTS</h3></div> <!--Upper Body Measurements</h3></div>-->

  <div class="row">
    <div class="col-12 col-sm-4">
      Length : <strong><%= order_measurement.jacket_or_shirt_length %></strong> <br>
      Shoulder : <strong><%= order_measurement.jacket_or_shirt_shoulder %></strong><br>
    </div>
    <div class="col-12 col-sm-4">
      Sleeve Length : <strong><%= order_measurement.jacket_or_shirt_sleeve_length %></strong><br>
      Chest : <strong><%= order_measurement.jacket_or_shirt_chest %></strong><br>
     </div> 
    

    <div class="col-12 col-sm-4">
        Waist : <strong><%= order_measurement.jacket_or_shirt_waist %></strong><br>
        Neck : <strong><%= order_measurement.jacket_or_shirt_neck %></strong><br>
    </div>
    <div class="col-12 col-sm-4">
        Hip : <strong><%= order_measurement.jacket_or_shirt_hip %></strong><br>
        Hale Back : <strong><%= order_measurement.jacket_or_shirt_hale_back %></strong><br>
    </div>

    <div class="col-12 col-sm-4">
        Cross Back : <strong></style> <%= order_measurement.jacket_or_shirt_cross_back %></strong><br>
        Bicep : <strong><%= order_measurement.jacket_or_shirt_bicep %></strong><br>
    </div>
    <div class="col-12 col-sm-4">
        Cross Front : <strong><%= order_measurement.jacket_or_shirt_cross_front %></strong><br>
        Arm Hole Round : <strong><%= order_measurement.jacket_or_shirt_arm_hole_round %></strong><br>
    </div>
  </div>
  

  </div>

  <div class="container">
  
  <div class="row"><h3>TROUSER MEASUREMENTS</h3></div> <!--Lower Body Measurements</h3></div>-->

  <div class="row">
    <div class="col-12 col-sm-4">
        Length : <strong><%= order_measurement.trouser_length %></strong><br>
        Crotch : <strong><%= order_measurement.trouser_crotch %></strong><br>
        Inseam : <strong><%= order_measurement.trouser_inseam %></strong><br>
        
    </div>

    <div class="col-12 col-sm-4">
        Waist : <strong><%= order_measurement.trouser_waist %></strong><br>
        Hip : <strong><%= order_measurement.trouser_hip %></strong><br>
        Knee : <strong><%= order_measurement.trouser_knee %></strong><br>
        
    </div>

    <div class="col-12 col-sm-4">
         Thigh : <strong><%= order_measurement.trouser_thigh %></strong><br>
         Bottom : <strong><%= order_measurement.trouser_bottom %></strong><br>
         F - Low : <strong><%= order_measurement.trouser_f_low %></strong><br>
      
    </div>
  </div>
  

  <!-- </div> -->
<!--

  <h1> Body Posture & Measurements <%= link_to 'Click to Edit', edit_store_customer_order_order_measurement_path(@store,@customer,@order,order_measurement) %> </h1>


<h2> Upper Body </h2>
<p>
  <strong>Upper body back shape:</strong>
  <%= order_measurement.upper_body_back_shape %>

  <strong>Upper body stomach:</strong>
  <%= order_measurement.upper_body_stomach %>

  <strong>Upper body shoulder:</strong>
  <%= order_measurement.upper_body_shoulder %>
</p>

<h2>Lower Body</h2>
<p>
  <strong>Lower body posture:</strong>
  <%= order_measurement.lower_body_posture %>
</p>

<h2>Upper Body Measurements</h2>

<p>
  <strong>Jacket or shirt length:</strong>
  <%= order_measurement.jacket_or_shirt_length %>

  <strong>Jacket or shirt shoulder:</strong>
  <%= order_measurement.jacket_or_shirt_shoulder %>

  <strong>Jacket or shirt sleeve length:</strong>
  <%= order_measurement.jacket_or_shirt_sleeve_length %>

  <strong>Jacket or shirt chest:</strong>
  <%= order_measurement.jacket_or_shirt_chest %>

  <strong>Jacket or shirt waist:</strong>
  <%= order_measurement.jacket_or_shirt_waist %>

  <strong>Jacket or shirt neck:</strong>
  <%= order_measurement.jacket_or_shirt_neck %>


  <strong>Jacket or shirt hip:</strong>
  <%= order_measurement.jacket_or_shirt_hip %>


  <strong>Jacket or shirt hale back:</strong>
  <%= order_measurement.jacket_or_shirt_hale_back %>


  <strong>Jacket or shirt cross back:</strong>
  <%= order_measurement.jacket_or_shirt_cross_back %>


  <strong>Jacket or shirt bicep:</strong>
  <%= order_measurement.jacket_or_shirt_bicep %>


  <strong>Jacket or shirt cross front:</strong>
  <%= order_measurement.jacket_or_shirt_cross_front %>


  <strong>Jacket or shirt arm hole round:</strong>
  <%= order_measurement.jacket_or_shirt_arm_hole_round %>
</p>

<h2>Lower Body Measurements</h2>
<p>
  <strong>Trouser length:</strong>
  <%= order_measurement.trouser_length %>


  <strong>Trouser crotch:</strong>
  <%= order_measurement.trouser_crotch %>


  <strong>Trouser inseam:</strong>
  <%= order_measurement.trouser_inseam %>


  <strong>Trouser waist:</strong>
  <%= order_measurement.trouser_waist %>


  <strong>Trouser hip:</strong>
  <%= order_measurement.trouser_hip %>


  <strong>Trouser knee:</strong>
  <%= order_measurement.trouser_knee %>


  <strong>Trouser thigh:</strong>
  <%= order_measurement.trouser_thigh %>


  <strong>Trouser bottom:</strong>
  <%= order_measurement.trouser_bottom %>


  <strong>Trouser f low:</strong>
  <%= order_measurement.trouser_f_low %>

</p>
<p>
  <strong>Order:</strong>
  <%= order_measurement.order_id %>
</p>


-->



