<p id="notice"><%= notice %></p>

<p>
  <strong>Upper body back shape:</strong>
  <%= @order_measurement.upper_body_back_shape %>
</p>

<p>
  <strong>Upper body stomach:</strong>
  <%= @order_measurement.upper_body_stomach %>
</p>

<p>
  <strong>Upper body shoulder:</strong>
  <%= @order_measurement.upper_body_shoulder %>
</p>

<p>
  <strong>Lower body posture:</strong>
  <%= @order_measurement.lower_body_posture %>
</p>

<p>
  <strong>Jacket or shirt length:</strong>
  <%= @order_measurement.jacket_or_shirt_length %>
</p>

<p>
  <strong>Jacket or shirt shoulder:</strong>
  <%= @order_measurement.jacket_or_shirt_shoulder %>
</p>

<p>
  <strong>Jacket or shirt sleeve length:</strong>
  <%= @order_measurement.jacket_or_shirt_sleeve_length %>
</p>

<p>
  <strong>Jacket or shirt chest:</strong>
  <%= @order_measurement.jacket_or_shirt_chest %>
</p>

<p>
  <strong>Jacket or shirt waist:</strong>
  <%= @order_measurement.jacket_or_shirt_waist %>
</p>

<p>
  <strong>Jacket or shirt neck:</strong>
  <%= @order_measurement.jacket_or_shirt_neck %>
</p>

<p>
  <strong>Jacket or shirt hip:</strong>
  <%= @order_measurement.jacket_or_shirt_hip %>
</p>

<p>
  <strong>Jacket or shirt hale back:</strong>
  <%= @order_measurement.jacket_or_shirt_hale_back %>
</p>

<p>
  <strong>Jacket or shirt cross back:</strong>
  <%= @order_measurement.jacket_or_shirt_cross_back %>
</p>

<p>
  <strong>Jacket or shirt bicep:</strong>
  <%= @order_measurement.jacket_or_shirt_bicep %>
</p>

<p>
  <strong>Jacket or shirt cross front:</strong>
  <%= @order_measurement.jacket_or_shirt_cross_front %>
</p>

<p>
  <strong>Jacket or shirt arm hole round:</strong>
  <%= @order_measurement.jacket_or_shirt_arm_hole_round %>
</p>

<p>
  <strong>Trouser length:</strong>
  <%= @order_measurement.trouser_length %>
</p>

<p>
  <strong>Trouser crotch:</strong>
  <%= @order_measurement.trouser_crotch %>
</p>

<p>
  <strong>Trouser inseam:</strong>
  <%= @order_measurement.trouser_inseam %>
</p>

<p>
  <strong>Trouser waist:</strong>
  <%= @order_measurement.trouser_waist %>
</p>

<p>
  <strong>Trouser hip:</strong>
  <%= @order_measurement.trouser_hip %>
</p>

<p>
  <strong>Trouser knee:</strong>
  <%= @order_measurement.trouser_knee %>
</p>

<p>
  <strong>Trouser thigh:</strong>
  <%= @order_measurement.trouser_thigh %>
</p>

<p>
  <strong>Trouser bottom:</strong>
  <%= @order_measurement.trouser_bottom %>
</p>

<p>
  <strong>Trouser f low:</strong>
  <%= @order_measurement.trouser_f_low %>
</p>

<p>
  <strong>Order:</strong>
  <%= @order_measurement.order_id %>
</p>

<%= link_to 'Edit', edit_order_measurement_path(@order_measurement) %> |
<%= link_to 'Back', order_measurements_path %>
