<style type="text/css">
td{
    border: 2px Black solid;
    width: 100px;
    padding-left: 20px;
  }

  
</style>

<%= form_with(model: [@store,@customer,@order,customer_measurement], local: true) do |form| %>

<div class="container">
  
        <div class="row"><h3>Upper Body Posture</h3></div>

        <div class="row">
          <div class="col-12 col-md-6 col-lg-4">
            <h6>Body Shape</h6> <br>
            <img height="200px" width="300" src="<%=asset_url("back-shape.jpg")%>"><br>
            <table>
              <tr><% if customer_measurement.upper_body_back_shape == "Normal" then %><td bgcolor="#00f"><%else%><td><%end%><%= radio_button "customer_measurement","upper_body_back_shape","Normal" %>Normal</td><% if customer_measurement.upper_body_back_shape == "Stooped" then %><td bgcolor="#00f"><%else%><td><%end%><%= radio_button "customer_measurement","upper_body_back_shape","Stooped" %>Stooped</td><% if customer_measurement.upper_body_back_shape == "Erect" then %><td bgcolor="#00f"><%else%><td><%end%><%= radio_button "customer_measurement","upper_body_back_shape","Erect" %>Erect</td></tr>
            </table>
                                           
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <h6>Stomach</h6> <br>
            <img height="200px" width="300" src="<%=asset_url("stomach.jpg")%>"><br>
            <table>
              <tr><% if customer_measurement.upper_body_stomach == "Forward Stomach" then %><td bgcolor="#00f"><%else%><td><%end%><%= radio_button "customer_measurement","upper_body_stomach","Forward Stomach" %>Forward Stomach</td><% if customer_measurement.upper_body_stomach == "Stout" then %><td bgcolor="#00f"><%else%><td><%end%><%= radio_button "customer_measurement","upper_body_stomach","Stout" %>Stout</td><% if customer_measurement.upper_body_stomach == "Large" then %><td bgcolor="#00f"><%else%><td><%end%><%= radio_button "customer_measurement","upper_body_stomach","Large" %>Large</td></tr>
            </table>
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <h6>Shoulder Type</h6> <br>
            <img height="200px" width="300" src="<%=asset_url("shoulder.jpg")%>"><br>
            <table>
              <tr><% if customer_measurement.upper_body_shoulder == "Sloping" then %><td bgcolor="#00f"><%else%><td><%end%><%= radio_button "customer_measurement","upper_body_shoulder","Sloping" %>Sloping</td><% if customer_measurement.upper_body_shoulder == "Regular" then %><td bgcolor="#00f"><%else%><td><%end%><%= radio_button "customer_measurement","upper_body_shoulder","Regular" %>Regular</td><% if customer_measurement.upper_body_shoulder == "Square" then %><td bgcolor="#00f"><%else%><td><%end%><%= radio_button "customer_measurement","upper_body_shoulder","Square" %>Square</td></tr>
            </table>
          </div>
        </div>
  
    </div>

    <div class="container">
      <div class="row"><h3>Lower Body Posture</h3></div>

      <div class="row">
        <div class="col-12">
          
          <img height="200px" width="400" src="<%=asset_url("lower-body-posture.jpg")%>"><br>
          <table>
            <tr><% if customer_measurement.lower_body_posture == "Knock Knee" then %><td bgcolor="#00f"><%else%><td><%end%><%= radio_button "customer_measurement","lower_body_posture","Knock Knee" %>Knock Knee</td><% if customer_measurement.lower_body_posture == "Joint Thigh" then %><td bgcolor="#00f"><%else%><td><%end%><%= radio_button "customer_measurement","lower_body_posture","Joint Thigh" %>Joint Thigh</td><% if customer_measurement.lower_body_posture == "Bow Leg" then %><td bgcolor="#00f"><%else%><td><%end%><%= radio_button "customer_measurement","lower_body_posture","Bow Leg" %>Bow Leg</td><% if customer_measurement.lower_body_posture == "Prominent Thigh" then %><td bgcolor="#00f"><%else%><td><%end%><%= radio_button "customer_measurement","lower_body_posture","Prominent Thigh" %>Prominent Thigh</td></tr>
          </table>
          
        </div>

        </div>
      </div>




<div class="form-row"><h3>Upper Body Measurements</h3></div>
        <div class="form-row">
          <div class="col">
            Length : <%= form.text_field :jacket_or_shirt_length , class: "form-control" %> <br>
            Shoulder : <%= form.text_field :jacket_or_shirt_shoulder , class: "form-control" %><br>
            Sleeve Length : <%= form.text_field :jacket_or_shirt_sleeve_length , class: "form-control" %><br>
            Chest : <%= form.text_field :jacket_or_shirt_chest , class: "form-control" %><br>
          </div>

          <div class="col-4">
              Waist : <%= form.text_field :jacket_or_shirt_waist , class: "form-control" %><br>
              Neck : <%= form.text_field :jacket_or_shirt_neck , class: "form-control" %><br>
              Hip: <%= form.text_field :jacket_or_shirt_hip , class: "form-control" %><br>
              Hale Back :<%= form.text_field :jacket_or_shirt_hale_back , class: "form-control" %><br>
          </div>

          <div class="col">
              Cross Back : <%= form.text_field :jacket_or_shirt_cross_back , class: "form-control" %><br>
              Bicep : <%= form.text_field :jacket_or_shirt_bicep , class: "form-control" %><br>
              Cross Front : <%= form.text_field :jacket_or_shirt_cross_front , class: "form-control" %><br>
              Arm Hole Round :<%= form.text_field :jacket_or_shirt_arm_hole_round , class: "form-control" %><br>
          </div>
        </div>

<div class="form-row"><h3>Lower Body Measurements</h3></div>
      <div class="form-row">
        
        <div class="col">
            Length : <%= form.text_field :trouser_length , class: "form-control" %><br>
            Crotch : <%= form.text_field :trouser_crotch , class: "form-control" %><br>
            Inseam : <%= form.text_field :trouser_inseam , class: "form-control" %><br>
            
        </div>

        <div class="col">
            Waist : <%= form.text_field :trouser_waist , class: "form-control" %><br>
            Hip : <%= form.text_field :trouser_hip , class: "form-control" %><br>
            Knee : <%= form.text_field :trouser_knee , class: "form-control" %><br>
            
        </div>

        <div class="col">
             Thigh : <%= form.text_field :trouser_thigh , class: "form-control" %><br>
             Bottom : <%= form.text_field :trouser_bottom , class: "form-control" %><br>
             F - Low : <%= form.text_field :trouser_f_low , class: "form-control" %><br>
          
        </div>
      </div>


<div class="row"><%= form.submit class: "btn btn-primary" %></div>

<% end %>
<!-- 

<%= form_with(model: [@store,@customer,@customer_measurement], local: true) do |form| %>

  <div class="container">
    
    <div class="container">
  
        <div class="row"><h3>Upper Body Posture</h3></div>

        <div class="row">
          <div class="col-12 col-sm-4">
            <h6>Body Shape</h6> <br>
            <img height="200px" width="300" src="<%=asset_url("back-shape.jpg")%>"><br>
            <table>
              <tr><% if customer_measurement.upper_body_back_shape == "Normal" then %><td bgcolor="#00f"><%else%><td><%end%><%= radio_button "customer_measurement","upper_body_back_shape","Normal" %>Normal</td><% if customer_measurement.upper_body_back_shape == "Stooped" then %><td bgcolor="#00f"><%else%><td><%end%><%= radio_button "customer_measurement","upper_body_back_shape","Stooped" %>Stooped</td><% if customer_measurement.upper_body_back_shape == "Erect" then %><td bgcolor="#00f"><%else%><td><%end%><%= radio_button "customer_measurement","upper_body_back_shape","Erect" %>Erect</td></tr>
            </table>
                                           
          </div>

          <div class="col-12 col-sm-4">
            <h6>Stomach</h6> <br>
            <img height="200px" width="300" src="<%=asset_url("stomach.jpg")%>"><br>
            <table>
              <tr><% if customer_measurement.upper_body_stomach == "Forward Stomach" then %><td bgcolor="#00f"><%else%><td><%end%><%= radio_button "customer_measurement","upper_body_stomach","Forward Stomach" %>Forward Stomach</td><% if customer_measurement.upper_body_stomach == "Stout" then %><td bgcolor="#00f"><%else%><td><%end%><%= radio_button "customer_measurement","upper_body_stomach","Stout" %>Stout</td><% if customer_measurement.upper_body_stomach == "Large" then %><td bgcolor="#00f"><%else%><td><%end%><%= radio_button "customer_measurement","upper_body_stomach","Large" %>Large</td></tr>
            </table>
          </div>

          <div class="col-12 col-sm-4">
            <h6>Shoulder Type</h6> <br>
            <img height="200px" width="300" src="<%=asset_url("shoulder.jpg")%>"><br>
            <table>
              <tr><% if customer_measurement.upper_body_shoulder == "Sloping" then %><td bgcolor="#00f"><%else%><td><%end%><%= radio_button "customer_measurement","upper_body_shoulder","Sloping" %>Sloping</td><% if customer_measurement.upper_body_shoulder == "Regular" then %><td bgcolor="#00f"><%else%><td><%end%><%= radio_button "customer_measurement","upper_body_shoulder","Regular" %>Regular</td><% if customer_measurement.upper_body_shoulder == "Square" then %><td bgcolor="#00f"><%else%><td><%end%><%= radio_button "customer_measurement","upper_body_shoulder","Square" %>Square</td></tr>
            </table>
          </div>
        </div>
  
    </div>

    <div class="container">
      <div class="row"><h3>Lower Body Posture</h3></div>

      <div class="row">
        <div class="col-12 col-sm-5">
          
          <img height="200px" width="400" src="<%=asset_url("lower-body-posture.jpg")%>"><br>
          <table>
            <tr><% if customer_measurement.lower_body_posture == "Knock Knee" then %><td bgcolor="#00f"><%else%><td><%end%><%= radio_button "customer_measurement","lower_body_posture","Knock Knee" %>Knock Knee</td><% if customer_measurement.lower_body_posture == "Joint Thigh" then %><td bgcolor="#00f"><%else%><td><%end%><%= radio_button "customer_measurement","lower_body_posture","Joint Thigh" %>Joint Thigh</td><% if customer_measurement.lower_body_posture == "Bow Leg" then %><td bgcolor="#00f"><%else%><td><%end%><%= radio_button "customer_measurement","lower_body_posture","Bow Leg" %>Bow Leg</td><% if customer_measurement.lower_body_posture == "Prominent Thigh" then %><td bgcolor="#00f"><%else%><td><%end%><%= radio_button "customer_measurement","lower_body_posture","Prominent Thigh" %>Prominent Thigh</td></tr>
          </table>
          
        </div>

        </div>
      </div>


      
      <div class="container">
  
      <div class="row"><h3>Upper Body Measurements</h3></div>
        <div class="row">
          <div class="col-4 col-sm-4">
            Length : <%= form.text_field :jacket_or_shirt_length %> <br>
            Shoulder : <%= form.text_field :jacket_or_shirt_shoulder %><br>
            Sleeve Length : <%= form.text_field :jacket_or_shirt_sleeve_length %><br>
            Chest : <%= form.text_field :jacket_or_shirt_chest %><br>
          </div>

          <div class="col-4 col-sm-4">
              Waist : <%= form.text_field :jacket_or_shirt_waist %><br>
              Neck : <%= form.text_field :jacket_or_shirt_neck %><br>
              Hip: <%= form.text_field :jacket_or_shirt_hip %><br>
              Hale Back :<%= form.text_field :jacket_or_shirt_hale_back %><br>
          </div>

          <div class="col-4 col-sm-4">
              Cross Back : <%= form.text_field :jacket_or_shirt_cross_back %><br>
              Bicep : <%= form.text_field :jacket_or_shirt_bicep %><br>
              Cross Front : <%= form.text_field :jacket_or_shirt_cross_front %><br>
              Arm Hole Round :<%= form.text_field :jacket_or_shirt_arm_hole_round %><br>
          </div>
        </div>
      </div>

      <div class="container">
  
      <div class="row"><h3>Lower Body Measurements</h3></div>

      <div class="row">
        
        <div class="col-4 col-sm-4">
            Length : <%= form.text_field :trouser_length %><br>
            Crotch : <%= form.text_field :trouser_crotch %><br>
            Inseam : <%= form.text_field :trouser_inseam %><br>
            
        </div>

        <div class="col-4 col-sm-4">
            Waist : <%= form.text_field :trouser_waist %><br>
            Hip : <%= form.text_field :trouser_hip %><br>
            Knee : <%= form.text_field :trouser_knee %><br>
            
        </div>

        <div class="col-4 col-sm-4">
             Thigh : <%= form.text_field :trouser_thigh %><br>
             Bottom : <%= form.text_field :trouser_bottom %><br>
             F - Low : <%= form.text_field :trouser_f_low %><br>
          
        </div>
      </div>
  


    <div class="row"><%= form.submit %></div>

  </div>


<% end %> -->

<!--
<%= form_with(model: [@store,@customer,@customer_measurement], local: true) do |form| %>
  <% if customer_measurement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_measurement.errors.count, "error") %> prohibited this customer_measurement from being saved:</h2>

      <ul>
        <% customer_measurement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :upper_body_back_shape %>
    <%= form.text_field :upper_body_back_shape %>
  </div>

  <div class="field">
    <%= form.label :upper_body_stomach %>
    <%= form.text_field :upper_body_stomach %>
  </div>

  <div class="field">
    <%= form.label :upper_body_shoulder %>
    <%= form.text_field :upper_body_shoulder %>
  </div>

  <div class="field">
    <%= form.label :lower_body_posture %>
    <%= form.text_field :lower_body_posture %>
  </div>

  <div class="field">
    <%= form.label :jacket_or_shirt_length %>
    <%= form.text_field :jacket_or_shirt_length %>
  </div>

  <div class="field">
    <%= form.label :jacket_or_shirt_shoulder %>
    <%= form.text_field :jacket_or_shirt_shoulder %>
  </div>

  <div class="field">
    <%= form.label :jacket_or_shirt_sleeve_length %>
    <%= form.text_field :jacket_or_shirt_sleeve_length %>
  </div>

  <div class="field">
    <%= form.label :jacket_or_shirt_chest %>
    <%= form.text_field :jacket_or_shirt_chest %>
  </div>

  <div class="field">
    <%= form.label :jacket_or_shirt_waist %>
    <%= form.text_field :jacket_or_shirt_waist %>
  </div>

  <div class="field">
    <%= form.label :jacket_or_shirt_neck %>
    <%= form.text_field :jacket_or_shirt_neck %>
  </div>

  <div class="field">
    <%= form.label :jacket_or_shirt_hip %>
    <%= form.text_field :jacket_or_shirt_hip %>
  </div>

  <div class="field">
    <%= form.label :jacket_or_shirt_hale_back %>
    <%= form.text_field :jacket_or_shirt_hale_back %>
  </div>

  <div class="field">
    <%= form.label :jacket_or_shirt_cross_back %>
    <%= form.text_field :jacket_or_shirt_cross_back %>
  </div>

  <div class="field">
    <%= form.label :jacket_or_shirt_bicep %>
    <%= form.text_field :jacket_or_shirt_bicep %>
  </div>

  <div class="field">
    <%= form.label :jacket_or_shirt_cross_front %>
    <%= form.text_field :jacket_or_shirt_cross_front %>
  </div>

  <div class="field">
    <%= form.label :jacket_or_shirt_arm_hole_round %>
    <%= form.text_field :jacket_or_shirt_arm_hole_round %>
  </div>

  <div class="field">
    <%= form.label :trouser_length %>
    <%= form.text_field :trouser_length %>
  </div>

  <div class="field">
    <%= form.label :trouser_crotch %>
    <%= form.text_field :trouser_crotch %>
  </div>

  <div class="field">
    <%= form.label :trouser_inseam %>
    <%= form.text_field :trouser_inseam %>
  </div>

  <div class="field">
    <%= form.label :trouser_waist %>
    <%= form.text_field :trouser_waist %>
  </div>

  <div class="field">
    <%= form.label :trouser_hip %>
    <%= form.text_field :trouser_hip %>
  </div>

  <div class="field">
    <%= form.label :trouser_knee %>
    <%= form.text_field :trouser_knee %>
  </div>

  <div class="field">
    <%= form.label :trouser_thigh %>
    <%= form.text_field :trouser_thigh %>
  </div>

  <div class="field">
    <%= form.label :trouser_bottom %>
    <%= form.text_field :trouser_bottom %>
  </div>

  <div class="field">
    <%= form.label :trouser_f_low %>
    <%= form.text_field :trouser_f_low %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.text_field :customer_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
-->