
<style type="text/css">
td{
    border: 2px Black solid;
    width: 100px;
    padding-left: 20px;
  }

  
</style>

<% customer_measurement = @customer_measurements %>
    <% if customer_measurement != nil then %>

<div class="container">
  
  <div class="row"><h1>Body Posture & Measurements</h1></div>
  <div class="row"><h6>For <%=@customer.customer_name%></h6></div>


  <div class="container">
  
  <div class="row"><h3>Upper Body Posture</h3></div>

  <div class="row">
    <div class="col-12 col-md-6 col-xl-4">
      <h6>Body Shape</h6> <br>
      <img height="200px" width="300" src="<%=asset_url("back-shape.jpg")%>"><br>
      <table width="300">
        <tr><% if customer_measurement.upper_body_back_shape == "Normal" then %><td bgcolor="#00f"><%else%><td><%end%>Normal</td><% if customer_measurement.upper_body_back_shape == "Stooped" then %><td bgcolor="#00f"><%else%><td><%end%>Stooped</td><% if customer_measurement.upper_body_back_shape == "Erect" then %><td bgcolor="#00f"><%else%><td><%end%>Erect</td></tr>
      </table>
                                     
    </div>

    <div class="col-12 col-md-6 col-xl-4">
      <h6>Stomach</h6> <br>
      <img height="200px" width="300" src="<%=asset_url("stomach.jpg")%>"><br>
      <table width="300">
        <tr><% if customer_measurement.upper_body_stomach == "Forward Stomach" then %><td bgcolor="#00f"><%else%><td><%end%>Forward Stomach</td><% if customer_measurement.upper_body_stomach == "Stout" then %><td bgcolor="#00f"><%else%><td><%end%>Stout</td><% if customer_measurement.upper_body_stomach == "Large" then %><td bgcolor="#00f"><%else%><td><%end%>Large</td></tr>
      </table>
    </div>

    <div class="col-12 col-md-6 col-xl-4">
      <h6>Shoulder Type</h6> <br>
      <img height="200px" width="300" src="<%=asset_url("shoulder.jpg")%>"><br>
      <table width="300">
        <tr><% if customer_measurement.upper_body_shoulder == "Sloping" then %><td bgcolor="#00f"><%else%><td><%end%>Sloping</td><% if customer_measurement.upper_body_shoulder == "Regular" then %><td bgcolor="#00f"><%else%><td><%end%>Regular</td><% if customer_measurement.upper_body_shoulder == "Square" then %><td bgcolor="#00f"><%else%><td><%end%>Square</td></tr>
      </table>
    </div>
  </div>
  

  </div>

  <div class="container">
  
  <div class="row"><h3>Lower Body Posture</h3></div>

  <div class="row">
    <div class="col-12">
      
      <img height="200px" width="400" src="<%=asset_url("lower-body-posture.jpg")%>"><br>
      <table width="400">
        <tr><% if customer_measurement.lower_body_posture == "Knock Knee" then %><td bgcolor="#00f"><%else%><td><%end%>Knock Knee</td><% if customer_measurement.lower_body_posture == "Joint Thigh" then %><td bgcolor="#00f"><%else%><td><%end%>Joint Thigh</td><% if customer_measurement.lower_body_posture == "Bow Leg" then %><td bgcolor="#00f"><%else%><td><%end%>Bow Leg</td><% if customer_measurement.lower_body_posture == "Prominent Thigh" then %><td bgcolor="#00f"><%else%><td><%end%>Prominent Thigh</td></tr>
      </table>
      
    </div>

  </div>
  
  </div>


  <div class="container">
  
  <div class="row"><h3>JACKET / SHIRT MEASUREMENTS</h3></div> <!--Upper Body Measurements</h3></div>-->

  <div class="row">
    <div class="col-12 col-sm-4">
      Length : <strong><%= customer_measurement.jacket_or_shirt_length %></strong> <br>
      Shoulder : <strong><%= customer_measurement.jacket_or_shirt_shoulder %></strong><br>
    </div>
    <div class="col-12 col-sm-4">
      Sleeve Length : <strong><%= customer_measurement.jacket_or_shirt_sleeve_length %></strong><br>
      Chest : <strong><%= customer_measurement.jacket_or_shirt_chest %></strong><br>
     </div> 
    

    <div class="col-12 col-sm-4">
        Waist : <strong><%= customer_measurement.jacket_or_shirt_waist %></strong><br>
        Neck : <strong><%= customer_measurement.jacket_or_shirt_neck %></strong><br>
    </div>
    <div class="col-12 col-sm-4">
        Hip : <strong><%= customer_measurement.jacket_or_shirt_hip %></strong><br>
        Hale Back : <strong><%= customer_measurement.jacket_or_shirt_hale_back %></strong><br>
    </div>

    <div class="col-12 col-sm-4">
        Cross Back : <strong></style> <%= customer_measurement.jacket_or_shirt_cross_back %></strong><br>
        Bicep : <strong><%= customer_measurement.jacket_or_shirt_bicep %></strong><br>
    </div>
    <div class="col-12 col-sm-4">
        Cross Front : <strong><%= customer_measurement.jacket_or_shirt_cross_front %></strong><br>
        Arm Hole Round : <strong><%= customer_measurement.jacket_or_shirt_arm_hole_round %></strong><br>
    </div>
  </div>
  

  </div>

  <div class="container">
  
  <div class="row"><h3>TROUSER MEASUREMENTS</h3></div> <!--Lower Body Measurements</h3></div>-->

  <div class="row">
    <div class="col-12 col-sm-4">
        Length : <strong><%= customer_measurement.trouser_length %></strong><br>
        Crotch : <strong><%= customer_measurement.trouser_crotch %></strong><br>
        Inseam : <strong><%= customer_measurement.trouser_inseam %></strong><br>
        
    </div>

    <div class="col-12 col-sm-4">
        Waist : <strong><%= customer_measurement.trouser_waist %></strong><br>
        Hip : <strong><%= customer_measurement.trouser_hip %></strong><br>
        Knee : <strong><%= customer_measurement.trouser_knee %></strong><br>
        
    </div>

    <div class="col-12 col-sm-4">
         Thigh : <strong><%= customer_measurement.trouser_thigh %></strong><br>
         Bottom : <strong><%= customer_measurement.trouser_bottom %></strong><br>
         F - Low : <strong><%= customer_measurement.trouser_f_low %></strong><br>
      
    </div>
  </div>
  


<!-- 

  <div class="container">
  
  <div class="row"><h3>Upper Body Posture</h3></div>

  <div class="row">
    <div class="col-12 col-sm-4">
      <h6>Body Shape</h6> <br>
      <img height="200px" width="300" src="<%=asset_url("back-shape.jpg")%>"><br>
      <table>
        <tr><% if customer_measurement.upper_body_back_shape == "Normal" then %><td bgcolor="#00f"><%else%><td><%end%>Normal</td><% if customer_measurement.upper_body_back_shape == "Stooped" then %><td bgcolor="#00f"><%else%><td><%end%>Stooped</td><% if customer_measurement.upper_body_back_shape == "Erect" then %><td bgcolor="#00f"><%else%><td><%end%>Erect</td></tr>
      </table>
                                     
    </div>

    <div class="col-12 col-sm-4">
      <h6>Stomach</h6> <br>
      <img height="200px" width="300" src="<%=asset_url("stomach.jpg")%>"><br>
      <table>
        <tr><% if customer_measurement.upper_body_stomach == "Forward Stomach" then %><td bgcolor="#00f"><%else%><td><%end%>Forward Stomach</td><% if customer_measurement.upper_body_stomach == "Stout" then %><td bgcolor="#00f"><%else%><td><%end%>Stout</td><% if customer_measurement.upper_body_stomach == "Large" then %><td bgcolor="#00f"><%else%><td><%end%>Large</td></tr>
      </table>
    </div>

    <div class="col-12 col-sm-4">
      <h6>Shoulder Type</h6> <br>
      <img height="200px" width="300" src="<%=asset_url("shoulder.jpg")%>"><br>
      <table>
        <tr><% if customer_measurement.upper_body_shoulder == "Sloping" then %><td bgcolor="#00f"><%else%><td><%end%>Sloping</td><% if customer_measurement.upper_body_shoulder == "Regular" then %><td bgcolor="#00f"><%else%><td><%end%>Regular</td><% if customer_measurement.upper_body_shoulder == "Square" then %><td bgcolor="#00f"><%else%><td><%end%>Square</td></tr>
      </table>
    </div>
  </div>
  

  </div>

  <div class="container">
  
  <div class="row"><h3>Lower Body Posture</h3></div>

  <div class="row">
    <div class="col-12 col-sm-5">
      
      <img height="200px" width="400" src="<%=asset_url("lower-body-posture.jpg")%>"><br>
      <table>
        <tr><% if customer_measurement.lower_body_posture == "Knock Knee" then %><td bgcolor="#00f"><%else%><td><%end%>Knock Knee</td><% if customer_measurement.lower_body_posture == "Joint Thigh" then %><td bgcolor="#00f"><%else%><td><%end%>Joint Thigh</td><% if customer_measurement.lower_body_posture == "Bow Leg" then %><td bgcolor="#00f"><%else%><td><%end%>Bow Leg</td><% if customer_measurement.lower_body_posture == "Prominent Thigh" then %><td bgcolor="#00f"><%else%><td><%end%>Prominent Thigh</td></tr>
      </table>
      
    </div>

  </div>
  
  </div>


  <div class="container">
  
  <div class="row"><h3>Upper Body Measurements</h3></div>

  <div class="row">
    <div class="col-4 col-sm-4">
      Length : <%= customer_measurement.jacket_or_shirt_length %> <br>
      Shoulder : <%= customer_measurement.jacket_or_shirt_shoulder %><br>
      Sleeve Length : <%= customer_measurement.jacket_or_shirt_sleeve_length %><br>
      Chest : <%= customer_measurement.jacket_or_shirt_chest %><br>
    </div>

    <div class="col-4 col-sm-4">
        Waist : <%= customer_measurement.jacket_or_shirt_waist %><br>
        Neck : <%= customer_measurement.jacket_or_shirt_neck %><br>
        Hip: <%= customer_measurement.jacket_or_shirt_hip %><br>
        Hale Back :<%= customer_measurement.jacket_or_shirt_hale_back %><br>
    </div>

    <div class="col-4 col-sm-4">
        Cross Back : <%= customer_measurement.jacket_or_shirt_cross_back %><br>
        Bicep : <%= customer_measurement.jacket_or_shirt_bicep %><br>
        Cross Front : <%= customer_measurement.jacket_or_shirt_cross_front %><br>
        Arm Hole Round :<%= customer_measurement.jacket_or_shirt_arm_hole_round %><br>
    </div>
  </div>
  

  </div>

  <div class="container">
  
  <div class="row"><h3>Lower Body Measurements</h3></div>

  <div class="row">
    <div class="col-4 col-sm-4">
        Length : <%= customer_measurement.trouser_length %><br>
        Crotch : <%= customer_measurement.trouser_crotch %><br>
        Inseam : <%= customer_measurement.trouser_inseam %><br>
        
    </div>

    <div class="col-4 col-sm-4">
        Waist : <%= customer_measurement.trouser_waist %><br>
        Hip : <%= customer_measurement.trouser_hip %><br>
        Knee : <%= customer_measurement.trouser_knee %><br>
        
    </div>

    <div class="col-4 col-sm-4">
         Thigh : <%= customer_measurement.trouser_thigh %><br>
         Bottom : <%= customer_measurement.trouser_bottom %><br>
         F - Low : <%= customer_measurement.trouser_f_low %><br>
      
    </div>
  </div>
  

  </div>


</div>
<% else %>

        <br>||<a href="<%= new_store_customer_customer_measurement_path(@store,@customer) %>"><button class="btn btn-xs btn-primary has-icon">Kindly add the measurements..!</button></a> | | 

        <!--<%= link_to 'Kindly add the measurements..!', new_store_customer_customer_measurement_path(@store,@customer) %>-->
<% end %> -->

<a href="<%= store_customers_path(@store) %>"><button class="btn btn-xs btn-primary has-icon">Back</button></a>

<!-- <%= link_to 'Back', store_customers_path(@store) %> -->

<!--


<p id="notice"><%= notice %></p>

<h1>Customer Measurements</h1>

<table>
  <thead>
    <tr>
      <th>Upper body back shape</th>
      <th>Upper body stomach</th>
      <th>Upper body shoulder</th>
      <th>Lower body posture</th>
      <th>Jacket or shirt length</th>
      <th>Jacket or shirt shoulder</th>
      <th>Jacket or shirt sleeve length</th>
      <th>Jacket or shirt chest</th>
      <th>Jacket or shirt waist</th>
      <th>Jacket or shirt neck</th>
      <th>Jacket or shirt hip</th>
      <th>Jacket or shirt hale back</th>
      <th>Jacket or shirt cross back</th>
      <th>Jacket or shirt bicep</th>
      <th>Jacket or shirt cross front</th>
      <th>Jacket or shirt arm hole round</th>
      <th>Trouser length</th>
      <th>Trouser crotch</th>
      <th>Trouser inseam</th>
      <th>Trouser waist</th>
      <th>Trouser hip</th>
      <th>Trouser knee</th>
      <th>Trouser thigh</th>
      <th>Trouser bottom</th>
      <th>Trouser f low</th>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% customer_measurement = @customer_measurements %>
    <% if customer_measurement != nil then %>
      <tr>
        <td><%= customer_measurement.upper_body_back_shape %></td>
        <td><%= customer_measurement.upper_body_stomach %></td>
        <td><%= customer_measurement.upper_body_shoulder %></td>
        <td><%= customer_measurement.lower_body_posture %></td>
        <td><%= customer_measurement.jacket_or_shirt_length %></td>
        <td><%= customer_measurement.jacket_or_shirt_shoulder %></td>
        <td><%= customer_measurement.jacket_or_shirt_sleeve_length %></td>
        <td><%= customer_measurement.jacket_or_shirt_chest %></td>
        <td><%= customer_measurement.jacket_or_shirt_waist %></td>
        <td><%= customer_measurement.jacket_or_shirt_neck %></td>
        <td><%= customer_measurement.jacket_or_shirt_hip %></td>
        <td><%= customer_measurement.jacket_or_shirt_hale_back %></td>
        <td><%= customer_measurement.jacket_or_shirt_cross_back %></td>
        <td><%= customer_measurement.jacket_or_shirt_bicep %></td>
        <td><%= customer_measurement.jacket_or_shirt_cross_front %></td>
        <td><%= customer_measurement.jacket_or_shirt_arm_hole_round %></td>
        <td><%= customer_measurement.trouser_length %></td>
        <td><%= customer_measurement.trouser_crotch %></td>
        <td><%= customer_measurement.trouser_inseam %></td>
        <td><%= customer_measurement.trouser_waist %></td>
        <td><%= customer_measurement.trouser_hip %></td>
        <td><%= customer_measurement.trouser_knee %></td>
        <td><%= customer_measurement.trouser_thigh %></td>
        <td><%= customer_measurement.trouser_bottom %></td>
        <td><%= customer_measurement.trouser_f_low %></td>
        <td><%= customer_measurement.customer_id %></td>
        
        <td><%= link_to 'Edit', edit_store_customer_customer_measurement_path(@store,@customer,customer_measurement) %></td>
        
      </tr>
      <% else %>
        <%= link_to 'Kindly add the measurements..!', new_store_customer_customer_measurement_path(@store,@customer) %>
      <% end %>
    
  </tbody>
</table>

<br>

<%= link_to 'Back', store_customers_path(@store) %> -->

