<p id="notice"><%= notice %></p>

<h1>Customer Measurements</h1>

<table>
  <thead>
    <tr>
      <th>Upper body back shape</th>
      <th>Upper body stomach</th>
      <th>Upper body shoulder</th>
      <th>Lower body posture</th>
      <th>Jacket or shirt length</th>
      <th>Jacket or shirt shoulder</th>
      <th>Jacket or shirt sleeve length</th>
      <th>Jacket or shirt chest</th>
      <th>Jacket or shirt waist</th>
      <th>Jacket or shirt neck</th>
      <th>Jacket or shirt hip</th>
      <th>Jacket or shirt hale back</th>
      <th>Jacket or shirt cross back</th>
      <th>Jacket or shirt bicep</th>
      <th>Jacket or shirt cross front</th>
      <th>Jacket or shirt arm hole round</th>
      <th>Trouser length</th>
      <th>Trouser crotch</th>
      <th>Trouser inseam</th>
      <th>Trouser waist</th>
      <th>Trouser hip</th>
      <th>Trouser knee</th>
      <th>Trouser thigh</th>
      <th>Trouser bottom</th>
      <th>Trouser f low</th>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% customer_measurement = @customer_measurements %>
    <% if customer_measurement != nil then %>
      <tr>
        <td><%= customer_measurement.upper_body_back_shape %></td>
        <td><%= customer_measurement.upper_body_stomach %></td>
        <td><%= customer_measurement.upper_body_shoulder %></td>
        <td><%= customer_measurement.lower_body_posture %></td>
        <td><%= customer_measurement.jacket_or_shirt_length %></td>
        <td><%= customer_measurement.jacket_or_shirt_shoulder %></td>
        <td><%= customer_measurement.jacket_or_shirt_sleeve_length %></td>
        <td><%= customer_measurement.jacket_or_shirt_chest %></td>
        <td><%= customer_measurement.jacket_or_shirt_waist %></td>
        <td><%= customer_measurement.jacket_or_shirt_neck %></td>
        <td><%= customer_measurement.jacket_or_shirt_hip %></td>
        <td><%= customer_measurement.jacket_or_shirt_hale_back %></td>
        <td><%= customer_measurement.jacket_or_shirt_cross_back %></td>
        <td><%= customer_measurement.jacket_or_shirt_bicep %></td>
        <td><%= customer_measurement.jacket_or_shirt_cross_front %></td>
        <td><%= customer_measurement.jacket_or_shirt_arm_hole_round %></td>
        <td><%= customer_measurement.trouser_length %></td>
        <td><%= customer_measurement.trouser_crotch %></td>
        <td><%= customer_measurement.trouser_inseam %></td>
        <td><%= customer_measurement.trouser_waist %></td>
        <td><%= customer_measurement.trouser_hip %></td>
        <td><%= customer_measurement.trouser_knee %></td>
        <td><%= customer_measurement.trouser_thigh %></td>
        <td><%= customer_measurement.trouser_bottom %></td>
        <td><%= customer_measurement.trouser_f_low %></td>
        <td><%= customer_measurement.customer_id %></td>
        
        <td><%= link_to 'Edit', edit_store_customer_customer_measurement_path(@store,@customer,customer_measurement) %></td>
        
      </tr>
      <% else %>
        <%= link_to 'Kindly add the measurements..!', new_store_customer_customer_measurement_path(@store,@customer) %>
      <% end %>
    
  </tbody>
</table>

<br>

<%= link_to 'Back', store_customers_path(@store) %>

