<style type="text/css">
  form {
    padding-bottom: 10px;
  }
  .customer-view{
    border: 2px solid Black;
    margin: 5px;
  }
</style>


<p id="notice"><%= notice %></p>

<h1>Customers</h1><!--<%= link_to 'New Customer', new_store_customer_path %>-->
<a href="<%=new_store_customer_path%>"><button class="btn btn-xs btn-primary has-icon" type="submit" data-toggle="modal" data-target="#customer-detail-modal"><i class="mdi mdi-account-plus"></i>Add</button></a>

<div class="container">
  <div class="row">
    
    <% @customers.each do |customer| %>

      <div class=" customer-view card col-12 col-sm-6 col-md-4 col-lg-3">
        <%= link_to customer.customer_name, store_customer_orders_path(@store,customer) %>
        <%= customer.contact_number %><br>
        <%= link_to 'Show', store_customer_path(@store,customer) %>
        <%= link_to 'Measurement', store_customer_customer_measurements_path(@store,customer) %>


        
      </div>

      
    <% end %>


  </class>
</class>




<!--
<p id="notice"><%= notice %></p>

<h1>Customers</h1><%= link_to 'New Customer', new_store_customer_path %>

<table>
  <thead>
    <tr>
      <th>Customer name</th>
      <th>Contact number</th>
      <th>Email</th>
      <th>Address</th>
      <th>Date of birth</th>
      <th>Date of anniversary</th>
      <th>Picture</th>
      <th>Sales person</th>
      <th>Store</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.customer_name, store_customer_orders_path(@store,customer) %></td>
        <td><%= customer.contact_number %></td>
        <td><%= customer.email %></td>
        <td><%= customer.address %></td>
        <td><%= customer.date_of_birth %></td>
        <td><%= customer.date_of_anniversary %></td>
        <td><%= customer.picture %></td>
        <td><%= customer.sales_person %></td>
        <td><%= customer.store_id %></td>
        <td><%= link_to 'Show', store_customer_path(@store,customer) %></td>
        <td><%= link_to 'Edit', edit_store_customer_path(@store,customer) %></td>
        <td><%= link_to 'Destroy', [@store,customer], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Measurement', store_customer_customer_measurements_path(@store,customer) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_store_customer_path %>-->
