<style type="text/css">
  .form-row{
    padding-top: 10px;
  }
</style>

<%= form_with(model: [@store,@customer,@order], local: true) do |form| %>

<div class="form-row">
  <div class="col">
    <label>Order Date :&nbsp;</label><%= form.date_select :order_date , class: "form-control" %>
  </div>
</div>

<div class="form-row">
  <div class="col">
    <label>Trail Date :&nbsp;</label><%= form.date_select :trail_date , class: "form-control" %>
  </div>
  <div class="col">
    <label>Delivery Date :&nbsp;</label><%= form.date_select :delivery_date %>
  </div>
</div>

<div class="form-row">
  <div class="col">
    <label class="form-check-label">Status : </label>
    <div class="form-check form-check-inline">
      
    &nbsp;<%= radio_button "order","trail_status","Not Done" ,class: "form-check-input" %><label class="form-check-label"> Not Done&nbsp;</label><%= radio_button "order","trail_status","Done" , class: "form-check-input" %> <label class="form-check-label"> Done</label>
    </div>
  </div>

  <div class="col">
    <label class="form-check-label">Status : </label>
    <div class="form-check form-check-inline">
      
    &nbsp;<%= radio_button "order","delivery_status","Not Done" ,class: "form-check-input" %> <label class="form-check-label">Not Done &nbsp;</label><%= radio_button "order","delivery_status","Done" , class: "form-check-input" %> <label class="form-check-label">Done</label>
    </div>
  </div>
</div>
<br>

<div class="form-row">
  <h3>Accounts :</h3>
</div>

<div class="form-row">
  <div class="col">
    <label>Fabric Cost :</label><%= form.number_field :fabric_cost , class: "form-control" %>
  </div>
  <div class="col">
    <label>Stitching Cost :</label><%= form.number_field :stitching_cost , class: "form-control" %>
  </div>
</div>

<div class="form-row">
  <div class="col">
    <label>Fabric Advance :</label><%= form.number_field :fabric_advance , class: "form-control" %>
  </div>
  <div class="col">
    <label>Stitching Advance :</label><%= form.number_field :stitching_advance , class: "form-control" %>
  </div>
</div>

<div class="form-row">
  <div class="col">
    <label class="form-check-label"><strong>Balance Clear Status : </strong></label>
    <div class="form-check form-check-inline">
      
    &nbsp;<%= radio_button "order","balance_clear_status","Not Clear" ,class: "form-check-input" %><label class="form-check-label"> Not Clear &nbsp;</label><%= radio_button "order","balance_clear_status","Clear" , class: "form-check-input" %> <label class="form-check-label"> Clear</label>
    </div>
  </div>
</div>
<br>

<div class="form-row">
  <div class="col">
    <label>Remarks :</label><%= form.text_area :remark , class: "form-control" %>
  </div>
</div>

<div class="form-row">
 <%= form.submit class: "btn btn-primary" %>
</div>  

<% end %>
<br>



<!-- 
<%= form_with(model: [@store,@customer,@order], local: true) do |form| %>

  <div class="container">
    <div class="row"><p><%= form.label :order_date %> : <%= form.date_select :order_date %><br></p></div>
    <div class="row">
      <div class="col-12 col-sm-6">
        <%= form.label :trail_date %> : <%= form.date_select :trail_date %><br>
        Status : <%= radio_button "order","trail_status","Not Done" %> Not Done <%= radio_button "order","trail_status","Done" %> Done
      </div>
      <div class="col-12 col-sm-6">
        <%= form.label :delivery_date %> : <%= form.date_select :delivery_date %><br>
        Status : <%= radio_button "order","delivery_status","Not Done" %> Not Done <%= radio_button "order","delivery_status","Done" %> Done
      </div>
    </div>
    <div class="row"><p><br><strong>Accounts :</strong></p></div>
    <div class="row">
      <div class="col-10 col-sm-6">
         <%= form.label :fabric_cost %> : <%= form.number_field :fabric_cost %><br>
         <%= form.label :fabric_advance %> : <%= form.number_field :fabric_advance %>
        
      </div>
      <div class="col-12 col-sm-6">

        <%= form.label :stitching_cost %> : <%= form.number_field :stitching_cost %><br>
        <%= form.label :stitching_advance %> : <%= form.number_field :stitching_advance %>
      </div>
    </div>
    <div class="row">
      <div class="col-10 col-sm-3">
      <strong><%= form.label :balance_clear_status %></strong> : </div>
      <div class="col-10 col-sm-3">
      <%= radio_button "order","balance_clear_status","Not Clear" %> Not Clear <%= radio_button "order","balance_clear_status","Clear" %> Clear</div> 
    </div>
    <div class="row"><p><br><%= form.label :remark %> : <%= form.text_area :remark %></p></div>
    
    <div class="row">
      <p>
        <div class="actions"><%= form.submit class: "btn btn-primary" %>
      </p>
  </div>
    </div>

  </div>

<% end %> -->


<!--<%= form_with(model: [@store,@customer,@order], local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :order_date %>
    <%= form.date_select :order_date %>
  </div>

  <div class="field">
    <%= form.label :trail_date %>
    <%= form.date_select :trail_date %>
  </div>

  <div class="field">
    <%= form.label :trail_status %>
    <%= form.text_field :trail_status %>
  </div>

  <div class="field">
    <%= form.label :delivery_date %>
    <%= form.date_select :delivery_date %>
  </div>

  <div class="field">
    <%= form.label :delivery_status %>
    <%= form.text_field :delivery_status %>
  </div>

  <div class="field">
    <%= form.label :order_pictures %>
    <%= form.text_field :order_pictures %>
  </div>

  <div class="field">
    <%= form.label :trail_pictures %>
    <%= form.text_field :trail_pictures %>
  </div>

  <div class="field">
    <%= form.label :remark %>
    <%= form.text_area :remark %>
  </div>

  <div class="field">
    <%= form.label :stitching_cost %>
    <%= form.number_field :stitching_cost %>
  </div>

  <div class="field">
    <%= form.label :fabric_cost %>
    <%= form.number_field :fabric_cost %>
  </div>

  <div class="field">
    <%= form.label :stitching_advance %>
    <%= form.number_field :stitching_advance %>
  </div>

  <div class="field">
    <%= form.label :fabric_advance %>
    <%= form.number_field :fabric_advance %>
  </div>

  <div class="field">
    <%= form.label :balance_clear_status %>
    <%= form.text_field :balance_clear_status %>
  </div>

  <div class="field">
    <%= form.label :master_allocated %>
    <%= form.number_field :master_allocated %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.text_field :customer_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
-->