<!DOCTYPE html>
<html>
  <head>
    <title>Lm-Seamless</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
  </head>

  <body>
   
    <% if logged_in? %>
      <div style='float: left'>
        <div class="container">
        <div class="row"><h3><a href="<%=store_customers_path(@store)%>"><button class="btn btn-xs btn-primary has-icon"><%=@store.store_name%>'s Customers</button></a></h3></div>
        <div class="row"><h3><a href="<%= dashboard_today_deliveries_path %>"><button class="btn btn-xs btn-primary has-icon">Deliveries</button></a></h3></div>
        <div class="row"><a href="<%=dashboard_today_trails_path%>"><button class="btn btn-xs btn-primary has-icon">Trails</button></a></div>
        </div>
      </div>
      <div style='float: right;'>Logged in as : <b><%= logged_in_employee.employee_name %></b> in Store <b><%=logged_in_store.store_name%> <%= link_to "logout",logout_path %></b></div>

    <%end%>
    <br>

    <%= yield %>

    <br>
  </body>
</html>
