<!DOCTYPE html>
<html>
  <head>
    <title>LmSeamless</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <div style='float: right;'>Logged in as : <%= logged_in_employee.employee_name %> <%= link_to "logout",logout_path %></div>

    <%end%>

    <%= yield %>
  </body>
</html>
